<%- include('partials/header') %>
<body>
  <div class="container-main m-0 p-0" id="home">
    <div class="">
        <h2>Don't Let PCOS Define You. Let PCOS-Sakhi Empower You.</h2>
        <p class="text-muted">Join the PCOS-Sakhi Revolution and Take Control of Your Health.</p>
        <div class="d-flex flex-row">
          <a role="button" class="btn btn-dark mx-2 btn-type1 btn-lg" href="/user/signup">Sign Up</a>
          <a role="button" class="btn btn-dark btn-type2 btn-lg" href="/user/login">Login</a>
        </div>
        
    </div>
    <div class="">
        <img src="\image\girl in wavy hair and glasses 6.svg" id="vector"></img>
    </div>
  </div>
  <hr>
  <h1 class="text-center mt-2">Our Features:</h1>
  <div class="container-main" id="Predict">
    <div class="">
        <img src="\image\predict.avif" id="vector w-75"></img>
    </div>
    <div class="">
      <h2>PCOS Predict</h2>
      <p class="text-muted">Stay ahead of PCOS and take control of your health.</p>
      <div class="d-flex flex-row">
        <a role="button" class="btn btn-dark mx-2 btn-type2 btn-lg" href="/predict">Explore Me</a>
      </div>   
    </div>
  </div>

  <hr>

  <div class="container-main" id="Foodie">
    <div class="">
      <h2>PCOS Foodie</h2>
      <p class="text-muted">Savor the flavor while taking care of your health.</p>
      <div class="d-flex flex-row">
        <a role="button" class="btn btn-dark mx-2 btn-type1 btn-lg" href="/chatbox">Explore Me</a>
      </div>   
    </div>
    <div class="">
      <img src="\image\Foodie_img.jpg" id="vector"></img>
    </div>
  </div>

  <hr>
  <div class="container-main" id="Moodie">
    <div class="">
        <img src="\image\Moodie_img-removebg-preview.png" id="vector"></img>
    </div>
    <div class="">
      <h2>PCOS Moodie</h2>
      <p class="text-muted">Take charge of your mood and embrace a happier, healthier you.</p>
      <div class="d-flex flex-row">
        <a role="button" class="btn btn-dark mx-2 btn-type2 btn-lg" href="/user/signup">Explore Me</a>
      </div>   
    </div>
  </div>

<%- include('partials/footer') %>
