<%- include('partials/header') %>
<body>
  <div class="container-main m-0 p-0" id="home">
    <div class="">
        <h2>Don't Let PCOS Define You. Let PCOS-Sakhi Empower You.</h2>
        <p class="text-muted">Join the PCOS-Sakhi Revolution and Take Control of Your Health.</p>
        <div class="d-flex flex-row">
          <a role="button" class="btn btn-dark mx-2 btn-type1 btn-lg" href="/user/signup">Sign Up</a>
          <a role="button" class="btn btn-dark btn-type2 btn-lg" href="/user/login">Login</a>
        </div>
        
    </div>
    <div class="">
        <img src="\image\girl in wavy hair and glasses 6.svg" id="vector"></img>
    </div>
  </div>

  <div class="container-main" id="Pridict">
    <div class="">
        <img src="\image\predict.avif" id="vector"></img>
    </div>
    <div class="">
      <h2>Don't Let PCOS Define You. Let PCOS-Sakhi Empower You.</h2>
      <p class="text-muted">Join the PCOS-Sakhi Revolution and Take Control of Your Health.</p>
      <div class="d-flex flex-row">
        <a role="button" class="btn btn-dark mx-2 btn-type1 btn-lg" href="/user/signup">Sign Up</a>
        <a role="button" class="btn btn-dark btn-type2 btn-lg" href="/user/login">Login</a>
      </div>   
    </div>
  </div>

  <div class="container-main" id="Pridict">
    <div class="">
      <h2>Don't Let PCOS Define You. Let PCOS-Sakhi Empower You.</h2>
      <p class="text-muted">Join the PCOS-Sakhi Revolution and Take Control of Your Health.</p>
      <div class="d-flex flex-row">
        <a role="button" class="btn btn-dark mx-2 btn-type1 btn-lg" href="/user/signup">Sign Up</a>
        <a role="button" class="btn btn-dark btn-type2 btn-lg" href="/user/login">Login</a>
      </div>   
    </div>
    <div class="">
      <img src="\image\Foodie_img.svg" id="vector"></img>
    </div>
  </div>

<%- include('partials/footer') %>
