<%- include('partials/header') %>

<body>
  <div class="container">

<div class="login-section">
  

          <div class="Box">
          <div class="center">
            <h1 class="color text-center">Login</h1>
          </div>
          
          <!-- Makes POST request to /login route -->
          <% if(!existingUser){ %>
            <p>User Not present singup instead</p>
          <% } %>
          <% if(existingUser === 'incorrect'){ %>
            <p>Wrong password</p>
          <% } %>
          <form action="/user/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="center">
              <button type="submit" class="btn bg-filled mt-3 ms-1">Login</button>
              <% if(!existingUser){ %>
                <a class="btn bg-filled mt-3 ms-2" href="/user/singup" role="button">Singup</a>
              <% } %>
            </div>
          </form>
        </div>  
</div>

</div>
<%- include('partials/footer') %>
