html {
  min-height: 100%;
  position: relative;
}

body{
  background-color: #fefefe;
}



.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: 5px;
    box-shadow: 0 2px 4px 0 #fb6f92;
}
.navbar-nav  li a:hover {
    color: #fb6f92 !important;
}
.navbar-brand{
  color: #fb6f92 !important;
  font-size: 2rem !important; 
}
.logo-img{
  width: 10%;
}
.tab:hover{
  color: #ffff !important;
  background-color: #fb6f92;
}

.container-main{
  display: flex;
  justify-content: space-around;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 3rem;
  color: #DB3B61;
  height: 100vh;  margin-top: 2.5rem;;
}

.container-main div{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.bg-color{
  background-color: #fbb9c9;
}
#vector{
  width: 400px;
}

.btn-type1{
  background-color: #fb6f92;
  border: none;
}

.btn-type2{
  background-color: #000;
  border: none;
}

.btn-type1:hover{
  cursor: pointer;
  background-color: #fbb9c9;
  color: black;
}

.btn-type2:hover{
  cursor: pointer;
  background-color: #fbb9c9;
  color: #fff;
}
.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #fb6f92;
}

.color {
  color: #fb6f92;
}
.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.bg-filled {
  background-color: #fb6f92 !important;
  color: #ffff !important;
  border-color: #fb6f92 !important;
  
}
.active, .btn:hover{
  color: black !important;
}



/* signup page css */
.login-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 3%;
}

.Box{
  width: 500px;
  box-shadow: 10px 10px 15px #CCC;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  justify-content: center;
}

.login-margin{
  margin-left: 12rem;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.float-right {
  float: right;
}


.aling-right {
  margin-bottom: 1rem;
  text-align: end;
}

.post-items:hover{
  box-shadow: 2px 2px 8px #fb6f92;
}

.post-btns{
  display: flex;
}

/* .card {
  flex-direction: column;
  align-items: flex-start;
} */

.thick {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: #fb6f92;
  height: 0.2rem;
  margin-bottom: 0.3rem;
}

.nav-link{
  text-decoration: none !important;
  color: #fb6f92 !important;
}

.img-responsive{
  max-width: 100%;
  float: left; 
}

.book-img{
  border-radius: 50%;
  width: 25%;
  max-width: 100%;
  float: left;
  box-shadow: 5px 5px 10px #C3AED6;
}

.welcome-box{
  flex-direction: row;
}

@media (max-width: 1000px) {
  .welcome-box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .book-img{
    width: 50%;
  }
  .Welcome-header{
    text-align: center;
  }
}



/*--------------------------------------------------------- css for chatbox------------------------------------------- */

.chat-forum {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.avatar {
  min-width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message-content {
  background-color: #fbb9c9;
  border-radius: 10px;
  padding: 10px;
  min-width: 790px;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-timestamp {
  font-size: 12px;
  color: #555;
}

.message-form {
  display: flex;
  margin-top: 20px;
}

.message-form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}

.message-form button[type="submit"] {
  background-color: #fb6f92;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}





